<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationID</key>
	<string>a29c5545e27ecca60bdc6012165de011355c2925adc0b33e3c5ce92538b678e9</string>
	<key>Server</key>
	<string>https://jcca274-health-app.herokuapp.com/parse</string>
	<key>LiveQueryServer</key>
	<string></string>
	<key>UseTransactions</key>
	<false/>
	<key>DeleteKeychainIfNeeded</key>
	<true/>
</dict>
</plist>
